div[class="MuiDataGrid-toolbarContainer css-1j9kmqg-MuiDataGrid-toolbarContainer"] {
    padding: 8px;
    margin-left: 30px;
}

div[class="MuiDataGrid-panel css-n3z9fz-MuiPopper-root-MuiDataGrid-panel"] {
    top: -110px !important;
    left: 620px !important;
    width: 530px;
}

div[class="MuiDataGrid-toolbarContainer css-1j9kmqg-MuiDataGrid-toolbarContainer"] {
    flex-direction: row-reverse;
}
button[title="לעמוד הבא"] {
    transform: rotate(180deg);
}
button[title="לעמוד הקודם"] {
    transform: rotate(180deg);
}
div[class="MuiFormControl-root MuiDataGrid-filterFormColumnInput css-q68e8e-MuiFormControl-root-MuiDataGrid-filterFormColumnInput"] {
    direction: rtl;
}